.header-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  padding: 12px 12px 12px 23px;
  background-color: rgb(5, 5, 5);
}

.header-wrapper > .left-column {
  justify-self: start;
  display: grid;
  align-self: center;
  grid-template-columns: repeat(3, auto);
  gap: 2.8rem;
}

.header-wrapper > .left-column > .logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-wrapper > .left-column > .logo-wrapper > a > .logo-codepen {
  width: 160px;
  min-width: 120px;
}

.header-wrapper > .left-column > .nav-wrapper {
  display: flex;
  flex-direction: column;
}

.header-wrapper > .left-column > .nav-wrapper > .nav-title {
  text-transform: uppercase;
  color: rgb(236, 225, 135);
  font-weight: 700;
  font-size: 0.9rem;
}
.header-wrapper > .left-column > .nav-wrapper > .navigation ul {
  display: flex;
  gap: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 900;
  letter-spacing: -0.5px;
  font-size: 1.2rem;
  transition: 0.3s ease-in-out;
}
.header-wrapper > .left-column > .nav-wrapper > .navigation a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.header-wrapper > .left-column > .nav-wrapper > .navigation a:hover {
  color: rgb(75, 206, 121);
}
.header-wrapper > .left-column > .spark-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  z-index: 1;
}
.header-wrapper > .left-column > .spark-wrapper > .chev-position {
  position: absolute;
  right: 6px;
  bottom: 7px;
  font-size: 0.8rem;
  color: rgb(172, 172, 172);
  z-index: -1;
}
.header-wrapper > .left-column > .spark-wrapper select {
  font: inherit;
  font-weight: 700;
  font-size: 1.1rem;
  color: rgb(172, 172, 172);
  background-color: transparent;
  border: none;
  appearance: none;
  transform: translate(-10px, -3px);
}

.header-wrapper > .right-column {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
}

.header-wrapper > .right-column > .input-icon-wrapper {
  position: relative;
  display: inline-block;
}

.header-wrapper > .right-column > .input-icon-wrapper input {
  font-size: inherit;
  background-color: rgb(5, 5, 5);
  color: rgb(240, 240, 240);
  padding: 0 0 0 50px;
  width: 0px;
  height: 48px;
  border: none;
}

.header-wrapper > .right-column > .input-icon-wrapper input:focus {
  width: 150px;
  position: absolute;
  transform: translateY(-50%);
}

.header-wrapper > .right-column > .input-icon-wrapper .fa-magnifying-glass {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(124, 127, 140);
  pointer-events: none;
  font-size: 2rem;
}

.header-wrapper > .right-column > .btn > .chev-create {
  color: rgb(114, 203, 129);
  font-size: 1.3rem;
}

@media (max-width: 1100px) {
  .header-wrapper {
    grid-template-columns: 1fr;
  }
  .header-wrapper > .left-column {
    justify-self: center;
  }
  .header-wrapper > .right-column {
    justify-self: center;
  }

  .header-wrapper > .right-column > .btn-option {
    font-size: 1rem;
    padding: 10px 5wv;
  }
  .header-wrapper > .right-column > .btn > .chev-create {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .header-wrapper > .left-column {
    grid-template-columns: 1fr;
    gap: 5px;
    justify-items: center;
  }
  .header-wrapper > .left-column > .nav-wrapper {
    align-items: center;
  }
}
@media (max-width: 450px) {
  .header-wrapper {
    padding: 12px;
  }
  .header-wrapper > .right-column > .btn-option {
    font-size: 0.9rem;
    padding: 8px 3vw;
  }
}
