.hero-menu {
  display: grid;
  grid-template-columns: 1fr;
}

.hero-menu > .btn-hero-menu {
  border: 1px solid rgb(124, 127, 140);
  border-radius: 0;
}

.hero-menu > .btn-hero-menu span {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.4rem;
  letter-spacing: -1.6px;
}

@media (min-width: 600px) {
  .hero-menu {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1100px) {
  .hero-menu {
    grid-template-columns: repeat(4, 1fr);
  }
}
